<p id="notice"><%= notice %></p>

<h1>Listing Committees Voivodships</h1>

<table>
  <thead>
    <tr>
      <th>Number of votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committees_voivodships.each do |committees_voivodship| %>
      <tr>
        <td><%= committees_voivodship.number_of_votes %></td>
        <td><%= link_to 'Show', committees_voivodship %></td>
        <td><%= link_to 'Edit', edit_committees_voivodship_path(committees_voivodship) %></td>
        <td><%= link_to 'Destroy', committees_voivodship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committees voivodship', new_committees_voivodship_path %>
